.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_head {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 80%;

    margin: 10px;
    padding: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    
}

.news_head h1 {
    font-size: 30px;
}

.article_column {
    width: 80%;

    margin: 10px;
}

.articles {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 10px;
    margin: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: lightgray;

    cursor: pointer;
    
}

.articles_image {
    max-width: 300px;
    max-height: 200px;
}

.headline {

    display: flex;
    align-items: center;

    width: 300px;
    height: 200px;

    margin-left: 20px;
}

.headline h2 {
    font-size: 25px;
    color: gray;
    ;
}

@media screen and (max-width: 600px) {
    .news_head {
        width: 90%;
    }

    .articles {
        flex-direction: column;
    }
    
    .article_column {
        width: 90%;
    }

    .articles_image image {
        max-width: 150px;
        max-height: 100;
    }
}    